h1{
 font-family:permanent marker;
 text-align:center;
 font-size:85px;
 color:pink;
}

.red{
    color:#A80000;
    text-align:center;
    font-family:Brush Script MT;
    font-size:70px;
}

.orange{
  font-family: 'Courgette', cursive;
  font-size:55px;
  text-align:center;
  color:#FFA833;
  }
  
 .container{
     display:flex;
}

.green{
  font-family: 'Kalam', cursive;
  font-size:50px;
  text-align:center;
  color:#228B22;
}
    
.yellow{
    color:yellow;
    font-family:"Kaushan Script",cursive;
    text-align:center;
    font-size: 55px;
}

img{
    display:block;
    margin:0px auto;
}

.bumblebee{
    font-size:40px;
    color:yellow;
    font-family:"Kaushan Script",cursive;
    text-align:center;
    
}

.scarlet{
    color:#f45f42;
    text-align:center;
    font-family:Brush Script MT;
    font-size:55px;
}

.limegreen{
 font-family: 'Kalam', cursive;
  font-size:35px;
  text-align:center;
  color:#228B22;
}

.box{
    background-image:url(https://images.pexels.com/photos/1166657/pexels-photo-1166657.jpeg?auto=compress&cs=tinysrgb&h=350);
    padding:100px;
    margin:100px;
}

body{
    background-color:#7EC0EE;
}